* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    color: black;
    font-size: 20px;
}

header {
    font-family: "Arial Black", Gadget, sans-serif;
    border-bottom: 14px solid #ef9c00;
    color: white;
    background-color: #1c60ab;
    padding: 10px 16px 0px;
    margin-bottom: 10px;
}

nav {
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    background-color: black;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    text-align: center;
}

li a:hover, .active {
    background-color: #1c60ab;
    transition: 0.2s;
}   

#numeros {
    position: relative;
    left: 30px;
}

input {
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    width: 50px;
    padding: 5px 2px;
    margin: 5px 5px;
    border-radius: 3px;
    border: 1px solid black;
}

button {
    color: white;
    background-color: #1c60ab;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 12px 5px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 5px;
}

button:hover {
    background-color: #ef9c00;
    transition: 0.2s;
}

@media screen and (max-width: 600px) {
    header {
        text-align: center;
    }
    
    nav {
        position: static;
    }

    li {
        float:none;
        width:100%;
    }
}